<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>nth-of-type generator</title>
	<meta property="og:title" content="nth-of-type generator" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://h40831.github.io/nth-of-type-generator/" />
	<meta property="og:image" content="https://h40831.github.io/nth-of-type-generator/ogImage.png" />
	<meta property="og:site_name" content="nth-of-type generator" />
	<meta property="og:description" content="【使い方】1.タテ、ヨコそれぞれの要素の数を入力。<br>2.擬似クラスを選択し、()内を入力する。(odd、3nなど)<br>3.生成された要素をクリックすると、セレクタの対象外に指定できる。" />
	<meta name="twitter:card" content="summary_large_image" />
	<script src='https://h40831.github.io/nth-of-type-generator/vue.js'></script>  
	<link rel="stylesheet" type="text/css" href="https://h40831.github.io/nth-of-type-generator/index.css">
	<link rel="shortcut icon" type="image/x-icon" href="https://h40831.github.io/nth-of-type-generator/favicon.ico">
</head>
<body>	
	<header>
		<h1 id="title">nth-of-type generator</h1>
		<nav id="inputArea">
			<input id="y" class="selectable" :class="{inputed:inputed}" v-model="qty" placeholder="タテ" @input="isInput" @keydown.up="plus" @keydown.down="minus" @keyup="applyDom">
			<input id="x" class="selectable" :class="{inputed:inputed}" v-model="qty" placeholder="ヨコ" @input="isInput" @keydown.up="plus" @keydown.down="minus" @keyup="applyDom">
			<span id="selector">
				<label class="forRadio selectable"  :class="{inputed:this.nthOf==='nth-child'}">
					<input type="radio" id="nthChild" value="nth-child" v-model="nthOf">nth-child
				</label>

				<label class="forRadio selectable"  :class="{inputed:this.nthOf==='nth-of-type'}">
					<input type="radio" id="nthOfType" value="nth-of-type" v-model="nthOf">nth-of-type
				</label>

				<label class="forRadio selectable"  :class="{inputed:this.nthOf==='nth-last-child'}">
					<input type="radio" id="nthLastChild" value="nth-last-child" v-model="nthOf">nth-last-child
				</label>

				<label class="forRadio selectable"  :class="{inputed:this.nthOf==='nth-last-of-type'}">
					<input type="radio" id="nthLastOfType" value="nth-last-of-type" v-model="nthOf">nth-last-of-type
				</label>
			</span>
			<span id="n" class="selectable" :class="{inputed:inputed}">(
			<input v-model="selector" placeholder=" " @input="isInput">
			)</span>
		</nav>
	</header>
	<main id="testArea">
		<style type="text/css">
			{{ style }}
		</style>
		<div v-html="element">
		</div>
	</main>
	<div class="ad">
		<!-- admax -->
		<script src="https://adm.shinobi.jp/s/0bc422403957c9783502b9aa6a3a582b"></script>
		<script src="https://adm.shinobi.jp/s/7fbe1ce182340f4b9e6b4b37e4011039"></script>
		<script src="https://adm.shinobi.jp/s/50d321fca4835e80c5000f5fc8c20b38"></script>
		<script src="https://adm.shinobi.jp/s/c56658680d793d488e4f019785c1e49b"></script>
		<!-- admax -->
	</div>	

	<script src='https://h40831.github.io/nth-of-type-generator/index.js'></script>
</body>
</html>
